#cursor{
    background-color: white;
    border-radius: 1rem;
    width: 0.5em;
    height: 10em;
}

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

#hero-name{
    font-size: 36pt;
}
#hero-caption{
    font-size: 24pt;
}

#hero-name, #hero-caption{
    padding: 12pt;
}

#landing-section{
    height: 100vh;
}

#skills-section{
    height: 100vh;
}

#projects-section{
    height: 100vh;
}