#cursor{
    background-color: white;
    border-radius: 1rem;
    width: 0.5em;
    height: 10em;
}

#hero-bg{
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    

    width:100%;
    height:100%;
    
    opacity: 0.75;
    video{
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }
}

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

#hero-name{
    font-size: 36pt;
}
#hero-caption{
    font-size: 24pt;
}

#hero-name, #hero-caption{
    padding: 12pt;
}

#landing-section{
    height: 100vh;
}

#skills-section{
    height: 100vh;
}

#projects-section{
    height: 100vh;
}