#cursor{
    background-color: black;
    width: 0.5em;
    height: 10em;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-name{
    font-size: 36pt;
}
#hero-caption{
    font-size: 24pt;
}

#hero-name, #hero-caption{
    padding: 12pt;
}